/* 
CREATED BT: LEAM VINA
COPYRIGHT ©2022 BY WWW.TASKTRACKER.COM
LICENCE: LEAM VINA
*/

/* BLOCK BACKGROUND COLOR */
/* ----------------------------------------- */
/* SIDEBAR COLOR */
.side-color{
    background-color: #0B5345;
}
/* NAVBAR COLOR */
.nav-color{
    background-color: #138D75;
}
/* BODY COLOR */
.body-color{
    background-color: #F2F3F4;
}
/* BODY LAYER COLOR */
.body-first-layer-color{
    background-color: #FFFFFF;
}
/* CARD COLOR */
.cont-card-color{
    background-color: #0E6655;
}
/* ADD BUTTON */
.add-color{
    background-color: #0B5345;
}
/* ----------------------------------------- */


/* BLOCK CUSTOMIZ */
/* ----------------------------------------- */
/* START SIDEBAR */
.side-menu a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}
.side-menu a:hover {
    background-color: #0E6655;
    color: #FFFFFF;
    border-right: solid #ffffff 3px;
}
.side-menu a:active {
    border-right: solid #ffffff 3px;
}
/* END SIDEBAR */

/* NAVBAR */
/* .nav-cust{
    box-shadow: #b6b5b5 0px 5px 0px 5px;
    z-index: 1;
} */
/* START BODY */
.body-cust{
    height: 92vh;
    padding: 10px;
}
.body-first-layer-cust{
    padding: 0px;
}
/* CARD */
.cont-card-color{
    color: #FFFFFF;
    height: 120px;
}
/* .cont-card-cust{
    font-size: 60px;
} */
.cont-card-title{
    font-size: 16px;
    font-weight: bold;
}
.cont-card-subtitle{
    font-size: 11px;
    font-style: italic;
}
.cont-card-child{
    font-size: 14px;
}

/* PROJECT */
.add-cust{
    color: #FFFFFF;
    padding: 5px 15px;
}
.add-cust:hover{
    color: #c4c3c3;
}
/* END BODY */
/* ----------------------------------------- */
